h1{
  font-weight: 100;
}

#appArea{
  h1{
    margin-top: 20%;
    margin-bottom: 5%;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
  }
  .result{
    margin: 2em 0;
    text-align: center;
  }
}